main{
    width: 100%;
    /* background-color: #000000; */
}

/* main-1 */
.main-1{
    background-image: url("../images/landing-3.webp");
    background-position: 50% -600px;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    padding: 0px 40px 0px 40px;
}
.main-1-detail{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;    
}
.detail-1{
    width: 800px;
    margin: 300px 0px 100px 200px;
}
.main-subtile{
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    color: #fff20e;
}
.main-title-1{
    font-size: 72px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin: 29px 0px 29px 0px;
}
.main-p{
    font-size: 20px;
}

.detail-2{
    overflow: hidden;
    width: 100%;
    height: 200px;
    z-index: 1000;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0));
}
.detail-2-black{
    width: 100%;
    height: 200px;
    z-index: 1000;
    background-color: #000000;
}
.detail-2 img{
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
    object-position: center;
}
.main-1-img{
    position: absolute;
    top: 5%;
    left: 50%;
    display: flex;
    justify-content: center;
    min-height: 100%;
    align-items: flex-end;
}
.main-1-img img{
    width: 880px;
    animation: pulse 20s infinite ease-in-out;
}

/* main-2 */
.main-2{
    width: 100%;
    background-color: #000000;
    padding: 0px 40px 0px 40px;
}
.main-2-detail{
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}
.main-title-2{
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin: 29px 0px 29px 0px;
    text-align: center;
}
.main-2-ul li{
    width: 100%;
    display: flex;
    align-content: center;
    align-items: stretch;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 40px 0px;
}
.main-2-ul li a{
    width: 28%;
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.main-2-ul li a img{
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
    object-position: center;
}
.main-2-ul li a .main-2-hover-title {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background: #fff20e;
    color: #000000;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bolder;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.6s ease, opacity 0.3s ease-in-out;
}
.main-2-hover-title span{
    color: #000000;
    font-size: 18px;
    font-weight: bolder;
}

.main-2-ul li a:hover .main-2-hover-title {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}
.main-title-3{
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1.375em;
    margin: 40px 0px 100px 0px;
}

/* main-3 */
.main-3{
    width: 100%;
    background-color: #fff20e;
    padding: 10px 40px 10px 40px;
}
.main-3-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-3-com{
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
}
.main-3-com-1{
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.main-3-img{
    display: flex;
    align-items: center;
}
.main-3-img img{
    width: 55px;
    height: 55px;
}
.main-3-title{
    font-size: 20px;
    font-weight: 600;
    text-transform: none;
    line-height: 1.25em;
    letter-spacing: -0.02em;
    color: #0C0C0C;
    padding-left: 20px;
}
.main-3-subtitle{
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin: 14px 0px 0px 0px;
    color: #0C0C0C;
}
.main-3-p{
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    margin: 14px 0px 0px 0px;
    color: #0C0C0C;
}

.main-3-com-2{
    width: 54%;
    position: relative;
}
.main-3-com-2-img img{
    margin: 0 10px 0 30px;
    width: 44%;
}
.main-3-com-2-user{
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(180deg, #FFF10F00 61%, #FFF10F 87%);
    position: relative;
    bottom: 100%;
}
.main-3-com-2-user1{
    width: 300px;
    position: absolute;
    left: 240px;
    bottom: 0;
}
.main-3-com-2-user2{
    width: 360px;
    position: absolute;
    right: 40px;
    bottom: 60px;
}

/* main-4 */
.main-4{
    width: 100%;
    background-color: #000;
    overflow: hidden;
}
.main-4-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    margin-bottom: 100px;
}
.main-4-1-img{
    display: flex;
    position: relative;
}
.main-4-1-img-1{
    width: 42%;
    position: absolute;
    top: -100px;
    left: -12%;
}
.main-4-1-img-2{
    width: 46%;
    position: absolute;
    top: -100px;
    right: -18%;
}
.main-title-2{
    z-index: 100;
}
.main-4-detail img{
    margin: -120px 0 -60px 0;
    z-index: 10;
}
.main-4-p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}
.main-4-2{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
.main-4-2 a{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}
.main-4-2 a:hover {
    transform: translateY(-20px);
    color: #fff20e;
}
.main-4-2 a:hover .main-4-2-name{
    color: #fff20e;
}
.main-4-2 a img{
    width: 100%;
}
.main-4-2-name{
    font-size: 24px;
    line-height: 1.4em;
    text-transform: uppercase;
}
